.wanderImage {
  background-image: url("../../images/wanderBackground.png");
  height: 450px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  padding-left: 60%;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  width: 60%;
  padding: 30px 0;
}

.menuWhenLoggedIn {
  display: flex;
}

#dropdown,
#button {
  margin: 10px;
}
